table {
    border: 1px solid #1979ff;
    border-radius: 2px;
    border-spacing: 0;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 3px solid #1979ff;

}

th, td {
    font-family: monospace;
    padding: 12px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    color: rgb(38, 37, 37);
    text-align: left;
    border-bottom: 3px solid #1979ff;
    background-color: #e5f0ff;
}

tr:hover {background-color: rgb(222, 229, 249);}


 h1 {
    font-family: open-sans, sans-serif;
    font-size: 30px;
    color: #373839;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
 }

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #1979ff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-bottom: 3px solid #1979ff;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}
